.product-wraper {
    margin-top: 5rem;
}
.picture__main {
    width: 100%;
    text-align: center;
}
.picture__sub {
    display: flex;
    align-items: center;
}
.picture__sub img {
    width: 12rem;
    height: 12rem;
    padding: 0.8rem;
    margin-right: 1rem;
    border: 1px solid var(--border-color);
    object-fit: contain;
}
.picture__sub img:hover{
    border: 1px solid var(--primary);
    cursor: pointer;
    transition: border 0.2s;
}