.pictureContainer {
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
}
.pictureContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;hãy phản hồi rõ ràng cho bộ phận tuyển dụng trong thời gian sớm nhất có thể để phía công ty chủ động sắp xếp tuyển người thay thế. Bạn cũng không bị HR gọi thêm để gặng hỏi lý do.
}
